# Cosine Similarity - KL
first draft of cosine similarity for property recommender 10/3/2022

Data 

1) **State** -  state of the property
2) **District** -  District of the property location
3) **Mukim** - Mukim of the property location
4) **Floor_Num** -  Number of floor of the property
5) **Property_Type**  -
6) **SP_Date** - Date of sale and purchase
7) **Size_Lot** - Size of lot in m.p
8) **Building_Size** - in m.p
9) **Address , Scheme, Tenure_Type, Tenure_Period**

In [1]:
from PIL import Image

In [2]:
import pandas as pd
import numpy as np

#read property csv file
data = pd.read_csv('../data/kl_cleaned_v2.csv')

In [3]:
data.shape

(13374, 16)

In [4]:
# show all columns
data.describe()

,floor-num,lot-size,bldg-size,price,ppm,tenure-period,bedroom-num
count,12860.000000,13374.000000,13374.000000,1.337400e+04,13374.000000,4896.000000,13374.000000
mean,14.369673,143.402722,124.549499,5.072265e+05,3148.564902,98.185662,3.097503
std,10.800161,557.646532,85.052900,8.206821e+05,2622.516678,39.133710,0.782428
min,0.000000,0.000000,0.000000,4.000000e+04,0.000000,0.000000,0.000000
25%,4.000000,77.000000,81.000000,1.480000e+05,1651.000000,99.000000,3.000000
50%,15.000000,103.000000,104.000000,2.649680e+05,2461.000000,99.000000,3.000000
75%,20.000000,143.000000,140.000000,5.480000e+05,3984.000000,99.000000,3.000000
max,47.000000,45360.000000,3112.000000,2.250000e+07,106503.000000,999.000000,18.000000

In [5]:
data.head()

,state,district,floor-num,type,property-type,transaction-date,lot-size,bldg-size,report-date,price,ppm,address,scheme,tenure-type,tenure-period,bedroom-num
0,Kuala Lumpur,Mukim Petaling,2.0,semid,2 - 2 1/2 Storey Semi-Detached,19/1/2008,0,0,8/7/2011,1062800,0,"32,JALAN MANDA'RINA DAMAI",TAMAN BUKIT MANDA'RINA,Pajakan,99.0,4
1,Kuala Lumpur,Mukim Petaling,2.0,semid,2 - 2 1/2 Storey Semi-Detached,27/10/2010,0,0,27/4/2011,1493888,0,"14150,",TMN ALAM DAMAI,Pajakan,99.0,4
2,Kuala Lumpur,Mukim Petaling,2.0,semid,2 - 2 1/2 Storey Semi-Detached,27/10/2010,0,0,27/4/2011,1366888,0,"14153,",TMN ALAM DAMAI,Pajakan,99.0,4
3,Kuala Lumpur,Mukim Batu,2.0,terrace,2 - 2 1/2 Storey Terraced,20/6/2011,0,0,20/6/2011,480000,0,"LOT 3,OFF JLN KEPONG",TMN FADASON,Pajakan,99.0,6
4,Kuala Lumpur,Mukim Batu,2.0,terrace,2 - 2 1/2 Storey Terraced,12/7/2008,0,0,8/7/2011,530000,0,"NO. 6,JLN 10/17",TMN FADASON,Pajakan,99.0,5

In [6]:
data.columns

Index(['state', 'district', 'floor-num', 'type', 'property-type',
       'transaction-date', 'lot-size', 'bldg-size', 'report-date', 'price',
       'ppm', 'address', 'scheme', 'tenure-type', 'tenure-period',
       'bedroom-num'],
      dtype='object')

In [7]:
data['scheme'].unique()

array(["TAMAN BUKIT MANDA'RINA ", 'TMN ALAM DAMAI ', 'TMN FADASON ',
       'DESA PARK CITY (ZENIA) ', 'KENSINGTON PARKHOMES ', 'KIARA VIEW ',
       'LAMAN RESIDENCE ', 'BANDAR BARU SRI PETALING ', 'KINRARA MAS ',
       '(Not Available)', 'ALAM SUTERA ', 'HIJAUAN KIARA ',
       'ANGKASA IMPIAN ', 'CONTINENTAL HEIGHTS CONDO ', 'HAMPSHIRE PARK ',
       'KIARAMAS SUTERA KONDOMINIUM ', 'MEDAN PUTRA CONDOMINIUM ',
       'SAVANNA BUKIT JALIL CONDOMINIUM ', 'VISTA DAMAI ',
       "10 MON'T KIARA ", 'ANGKASA CONDOMINIUM ',
       'BAYU TASIK CONDOMINIUM ', 'BINTANG MAS CONDOMINIUM ', 'CASA RIA ',
       'CENGAL KONDOMINIUM ', 'DANAU MURNI KONDOMINIUM ',
       'DESA CINDAIMAS ', 'DESA PARK CITY ', 'ENDAH PURI CONDOMINIUM ',
       'GREEN AVENUE KONDOMINIUM ', 'GREENFIELD APARTMENT ',
       'KETUMBAR HILL ', 'LE CHATEAU ', 'MANDY COURT ', 'MANDY VILLA ',
       'MEADOW PARK ', 'MENARA BINJAI ', 'MENARA KENANGA ', 'MENARA KLH ',
       'MIDAH HEIGHTS ', 'MIDAH RIA APARTMENT ', 'PALM COURT ',
       'PANGSARIA PETALING ', 'PLAZA 393 CITY APT ', 'SRI PUTRAMAS ',
       'SRI TTDI ', 'SUASANA SENTRAL ', 'SUASANA SENTRAL LOFT CONDO ',
       'SUTERA BUKIT TUNKU ', 'TARAGON YAP KWAN SENG ', 'THE ORION ',
       'TIARA FABER ', 'TMN EMAS ', 'TMN SRI JATI APT ', 'VILLA MEWAH ',
       'VILLA OUG CONDO ', 'VILLA PUTRA ', 'VISTA ANGKASA APARTMENT ',
       'VISTA KOMANWEL ', 'AMADESA RESORT ', 'ARENA GREEN ', 'FABER RIA ',
       'PANDAN HEIGHTS(STRATA) ', 'PETALING INDAH ',
       'UNION HEIGHTS(STRATA) ', 'ENAU COURT ', 'PRISMA CHERAS ',
       'BOUNGAINVILLA ', 'DESA GEMBIRA ', 'KUCHAI ENTREPRENEURS PARK ',
       'METRO PRIMA -VISTA MAGNA ', 'PINANG APARTMENT ',
       'TMN SRI CENDEKIA (TMN CONNAUGHT) ', 'PANGSAPURI CENDANA ',
       'METRO PRIMA -MUTIARA MAGNA ', 'PELANGI INDAH CONDO ',
       'SRI PENARA ', 'TAMAN SRI SENTOSA (LC) ', 'TMN SRI BINTANG ',
       'DESA PETALING ', 'R/PANGSA CHERAS RIA(TAMAN CHERAS UTAMA) ',
       'TERATAK MUHIBBAH ', 'AMPANG 971 CONDO ',
       'TWO TWELVE CONDOMINIUM ', 'BUKIT OUG TOWNHOUSE ', 'TMN MASTIARA ',
       '1 DESA RESIDENCE ', '1A STONOR APT (CONLAY COURT) ',
       '2 HAMPSHIRE ', '633 RESIDENCY ', 'ABADI INDAH APARTMENT ',
       'ABADI RIA KONDOMINIUM ', 'ABADI VILLA ', 'AC4 ', 'ALAM PURI 51 ',
       'ALMASPURI ', 'AMAN KIARA ', 'AMANDARI KONDO ', 'AMARIN KIARA ',
       'AMPANGPURI CONDOMINIUM ', 'ANDALUCIA ', 'ANG SENG MANSION ',
       'ANGGUNPURI CONDO ', 'ANGKUPURI ', 'ANGSA APT ', 'ANJUNG DAMAI ',
       'ANJUNG TIARA ', 'ANJUNG VILLA ', 'ANTAH TOWER ', 'ARAVILLE ',
       'ASEANA VILLA ', 'ASTAKA HEIGHTS APARTMENTS ', 'AVANT COURT ',
       'AVENUE APARTMENT ', 'AWANAPURI ', 'BADAK FLAT ', 'BAM VILLAS ',
       'BAMBOO GARDEN ', 'BANDAR BARU SENTUL ',
       'BANDAR MENJALARA (DESA SERI MAHKOTA) ', 'BANDAR TASIK SELATAN ',
       'BANDAR TUN ABD RAZAK (KG KONGGO) ', 'BANDARAYA PETALING ',
       'BANGSAR AMAN ', 'BANGSAR BARU ', 'BANGSAR HEIGHTS ',
       'BANGSAR INDAH ', 'BANGSAR PARK ', 'BANGSAR PEAK ',
       'BANGSAR PERMAI ', 'BANGSAR PUTERI ', 'BANGSAR RIA TOWNHOUSE ',
       'BANGSAR VILLA ', 'BATU HOUSING ', 'BAYU ANGKASA ', 'BAYU SEGAR ',
       'BAYVIEW COURT ', 'BDR MENJALARA (DESA SERI MAHKOTA) ',
       'BELAIR APARTMENT ', 'BERINGIN RESIDENCE TOWNHOUSE ',
       'BGN SRI LEMPAH ', 'BISTARI CONDO ', 'BUKIT BANDARAYA ',
       'BUKIT DESA CONDOMINIUM ', 'BUKIT GEMBIRA ', 'BUKIT INDAH ',
       'BUKIT JALIL ', 'BUKIT KIARA RESIDENCES ',
       'BUKIT MEWAH (TMN SERI BAHTERA) ', 'BUKIT OUG ',
       'BUKIT ROBSON CONDO ', 'BUKIT SEGAMBUT ',
       'BUKIT SEGAMBUT APARTMENT ', 'BUKIT SEPUTEH ',
       'BUKIT SUPREME APARTMENT ', 'CASA DESA CONDOMINIUM ',
       'CASA IDAMAN ', 'CASA KIARA CONDOMINIUM ', 'CASA KIARA II ',
       'CASA LIMINI ', 'CASA PRIMA ', 'CASA VISTA CONDO ', 'CASCADIUM ',
       'CASTLEFIELD GARDEN ', 'CEMARA APARTMENT ', 'CENDANA CONDO ',
       'CENTRE COURT ', 'CERIAAN KIARA ', 'CHANGKAT KIARA ',
       'CHANGKAT VIEW CONDOMINIUM ', 'CHERAS BUSINESS CENTRE ',
       'CHERAS UTAMA ', 'CHOO CHENG KHAY FLAT ', 'CITY GARDEN ',
       'CITY PARK APARTMENT ', 'CITY TOWER ', 'CLOUD VIEW TOWER ',
       'CONTESSA ', 'CONTINENTAL PARK ', 'CRESCENT COURT ',
       'D ALAMANDA (PUDU IMPIAN IV) ', 'D MAYANG ', 'DAMAI 33 ',
       'DAMAI SURIA ', 'DAMAISARI ', 'DAMANSARA HEIGHTS (BKT DAMANSARA) ',
       'DAMANSARA VILLA ', 'DANAU DESA ', 'DANAU IMPIAN & DANAU IDAMAN ',
       'DANAU PERMAI ', 'DATO KERAMAT HUJUNG ', 'DE TROPICANA ',
       'DESA ALPHA TOWNHOUSE ', 'DESA AMAN ', 'DESA ANGKASA ',
       'DESA BAKTI ', 'DESA BANGSAWAN APARTMENT ', 'DESA BISTARI ',
       'DESA CAHAYA ', 'DESA DAMANSARA ', 'DESA KIARA ', 'DESA KUDALARI ',
       'DESA PAKAR FLAT ', 'DESA PALMA ', 'DESA PANDAN ',
       'DESA PANTAI FLAT ', 'DESA PARK CITY (ADIVA) ',
       'DESA PARK CITY (ADORA) ', 'DESA PARK CITY (LEVENUE) ',
       'DESA PARK CITY (NADIA) ', 'DESA PARK CITY (RIDGEWOOD) ',
       'DESA PARK CITY (SOUTH LAKE) ',
       'DESA PARKCITY (AMELIA GARDEN HOMES) ', 'DESA PUTRA ',
       'DESA SEPUTEH ', 'DESA SRI HARTAMAS ', 'DESA SRI PUTERI ',
       'DESA TIARA ', 'DESA TUN RAZAK ', 'DESA U-THANT ',
       'DESA VILLA CONDO ', 'DEWANA MANSION ', 'DOWNTOWN CONDOMINIUM ',
       'DUA RESIDENCY ', 'DUTA NUSANTARA ', 'DUTA RIA ', 'DUTA TROPIKA ',
       'DYNASTY GARDEN CONDOMINIUM ', 'ENDAH REGAL ', 'ENDAH RIA ',
       'ENDAH VILLA ', 'FABER HEIGHTS ', 'FABER INDAH ', 'FABER PLAZA ',
       'FAIRVIEW GARDEN ', 'FAIRVIEW MANSION ', 'FAJAR RIA APARTMENT ',
       'FEDERAL HILL ', 'FERN LODGE ', 'FERNLEA COURT ',
       'FLAT PKNS JLN PEKELILING ', 'FLORA MURNI CONDO ',
       'FORTUNA COURT ', 'FORTUNE AVENUE CONDOMINIUM ',
       'FORTUNE COURT APARTMENT ', 'GALLERY APT ', 'GASING INDAH ',
       'GCB COURT ', 'GEMILANG INDAH ', 'GOLDEN CITY KONDO ',
       'GREEN PARK ', 'GREENVIEW APT ', 'GURNEY HEIGHT ',
       'HAMPSHIRE PLACE RESIDENCES ', 'HAPPY COURT ', 'HAPPY GARDEN ',
       'HAPPY GARDEN FLAT ', 'HAPPY GARDEN TOWNHOUSE ',
       'HARTAMAS REGENCY ', 'HARTAMAS REGENCY 2 ', 'HIJAU RIA APARTMENT ',
       'IDAMAN RESIDENCE ', 'IDAMANSARA ', 'IMPIAN BUKIT TUNKU ',
       'IMPIAN EMAS CONDOMINIUM ', 'IMPIAN KOTA ',
       'IMPIANA SENTUL BAHAGIA ', 'INARA KONDOMINIUM ',
       'INDAH DAMANSARA ', 'INDAH MAS APT ', 'INTAN KENNY CONDO ',
       'IPOH ROAD GARDEN ', 'IXORA APARTMENT ', 'JALAN ABDUL SAMAD ',
       'JALAN ALOR ', 'JALAN BAIDURI ', 'JALAN BANGSAR ', 'JALAN BARAT ',
       'JALAN BEDARA ', 'JALAN BERANGAN ', 'JALAN BRUNEI UTARA ',
       'JALAN CHEMPEDAK ', 'JALAN HORLEY ', 'JALAN IPOH ',
       'JALAN KELANG LAMA ', 'JALAN KENANGA ', 'JALAN KHOO TEIK EE ',
       'JALAN KOLAM AIR ', 'JALAN LANDAK ', 'JALAN LOKE YEW ',
       'JALAN MAKTAB AREA ', 'JALAN MERLIMAU ', 'JALAN NAGASARI ',
       'JALAN PADANG WALTER GRENIER ', 'JALAN SAN PENG ', 'JALAN SENTUL ',
       'JALAN THABIPILLAI ', 'JALAN UNION SENTUL ',
       'JALAN YAP KWAN SENG ', 'JALIL DAMAI APT ', 'JAMNAH VIEW ',
       'JELITA COURT ', 'JELUTONG VILLA ', 'JLN GAJUS ',
       'JLN LANGGAK BUKIT ', 'JLN SULTAN SULAIMAN SATU ',
       'JUBILEE COURT ', 'KAW JLN AMPANG/AMPANG HILIR ',
       'KAW JLN AMPANG/OFF JLN AMPANG/U-THANT ',
       'KAW JLN BERANGAN (JLN HICKS)/JLN ALOR ',
       'KAW JLN TUN SAMBANTHAN (BRICKFIELDS) ', 'KAW KASIPILLAY ',
       'KAW SENTUL ', 'KB JINJANG SELATAN ', 'KB JINJANG UTARA ',
       'KB SALAK SELATAN ', 'KELAB LE CHATEAU II ',
       'KELANG LAMA BUSINESS PARK ', 'KENANGA POINT ', 'KENNY HILL ',
       'KEPONG BARU ', 'KEPONG ENTREPRENEURS PARK ', 'KEPONG GARDEN ',
       'KERAMAT JAYA II APARTMENT ', 'KESTANA APARTMENT ',
       'KETUMBAR HEIGHTS ', 'KG BATU MUDA ', 'KG CHERAS BARU ',
       'KG DATOK KERAMAT ', 'KG MALAYSIA RAYA / TAMBAHAN ',
       'KG MELAYU SEGAMBUT ', 'KG PANDAN ', 'KG PASIR SEGAMBUT ',
       'KG SRI DELIMA ', 'KG.MALAYSIA LOW COST FLAT ', 'KIARA 1888 ',
       'KIARA GREEN TOWNHOUSE ', 'KIARA HILLS ', 'KIARA PARK CONDO ',
       'KIARA VILLE ', 'KIARAMAS AYURIA CONDO ', 'KIARAMAS CENDANA ',
       'KIRANA CONDO ', 'KL HEIGHTS ', 'KOMPLEK NAGARIA (PLAZA BERJAYA) ',
       'KOMPLEKS NAGARIA ', 'KOTA VILLAS ', 'KRISTAL COURT ',
       'KUCHAI BREM PARK ', 'LA GRANDE KIARA ', 'LAGENDA MAS VILLA ',
       'LAMAN DAMAISARI ', 'LAMAN MIDAH ', 'LAMAN RIMBUNAN ',
       'LAMAN SURIA ', 'LANAI KIARA ', 'LAUREL APT ',
       'LESTARI APARTMENT ', 'LINGKUNGAN U-THANT ', 'LORONG HAJI TAIB ',
       'LORONG MERANTI ', 'LORONG SYED PUTRA KIRI ',
       'LUCKY GARDEN (JLN BANGSAR) ', 'LUCKY GARDEN (JLN PUCHONG) ',
       'LUMAYAN APARTMENT ', 'LUMINA KIARA ', 'MALAYAN MANSION ',
       "MANDA'RINA COURT ", 'MANOR APARTMENT ', 'MASERA BUKIT SEGAR ',
       'MEDAN IMBI ', 'MENARA ANTARA ', 'MENARA BANGSAR ',
       'MENARA BELFIELD ', 'MENARA BUKIT CEYLON ', 'MENARA CASA RIA ',
       'MENARA CITY ONE ', 'MENARA DUTA I CONDO (MENARA DUTA 1 ) ',
       'MENARA DUTA II CONDO (MENARA DUTA 2) ', 'MENARA HARTAMAS ',
       'MENARA MEGAH ', 'MENARA MENJALARA ', 'MENARA ORKID ',
       'MENARA PELANGI ', 'MENARA POLO ', 'MENARA PROMENADE ',
       'MENARA PUTERI ', 'MENARA PUTRA ', 'MENARA SEPUTIH ',
       'MENARA WARISAN ', 'MENJALARA 18 ', 'MENTARI CONDO ',
       'MERC RESIDENCE ', 'MESRA TERRACE ', 'MESRARIA APT ',
       'METRO PRIMA -CASA MAGNA ', 'METRO PRIMA -PELANGI MAGNA ',
       'METRO PRIMA -SINAR MAGNA ', 'METRO PRIMA -SURIA MAGNA ',
       'MIHARJA CONDOMINIUM ', 'MILLION GARDEN ', "MON'T KIARA AMAN ",
       "MON'T KIARA ASTANA ", 'MONT KIARA BANYAN ', 'MONT KIARA BAYU ',
       'MONT KIARA DAMAI ', 'MONT KIARA LUMINA ', "MON'T KIARA MERIDIN ",
       "MON'T KIARA PALMA ", "MON'T KIARA PELANGI ", "MON'T KIARA PINES ",
       "MON'T KIARA SOPHIA ", 'MONT KIARA THE RESIDENCE ',
       'MUTIARA BUKIT JALIL ', 'MUTIARA SEPUTEH ',
       'MUTIARA UPPER EAST CONDO ', 'MUTIARA VILLA ', 'MUTIARA VILLA+ ',
       'NADIA PARKFRONT CONDO (DESA PARKCITY) ', 'NANYANG ESTATE ',
       'NANYANG GARDEN (JLN ALOR) ', 'NILAM APARTMENTS ',
       'NORTH POINT MID VALLEY RESIDENCE ', 'NOVA APARTMENT ',
       'NUSA RHU ', 'NYAMAN COURT ', 'O.B.D GARDEN TOWER ',
       'O.G HEIGHTS ', 'OFF JALAN KELANG LAMA ', 'OFF JALAN KEPONG ',
       'ONE KL ', 'ONE MENERUNG ', 'OVERSEAS UNION GARDEN ',
       'PALMYRA BANGSAR ', 'PANGSAPURI BANDAR BARU SENTUL ',
       'PANGSAPURI BANGSAR UTAMA ', 'PANGSAPURI BUKIT AWAN SARI ',
       'PANGSAPURI DESA TENAGA ', 'PANGSAPURI INTAN ',
       'PANGSAPURI KINRARA MAS ', 'PANGSAPURI MAWAR ',
       'PANGSAPURI MELUR ', 'PANGSAPURI PERMAI ',
       'PANGSAPURI SRI BANDAR ', 'PANGSAPURI SRI BATU ',
       'PANTAI DALAM KG. KERINCHI ', 'PANTAI HILL ',
       'PANTAI HILLPARK APARTMENT ', 'PANTAI INDAH ',
       'PANTAI PANORAMA CONDOMINIUM ', 'PANTAI PANORAMA KONDO ',
       'PAPILLON DESA HILL CONDO ', 'PARK SEVEN ',
       'PARKROSE CONDOMINIUM ', 'PEARL POINT ', 'PERMAI RIA CONDOMINIUM ',
       'PERTIWI INDAH APARTMENT ', 'PETALING GARDEN ',
       'PGB PLAZA CITY APT ', 'PINGGIRAN KIAR T.T. DR. ISMAIL ',
       'PINGGIRAN KIARA ', 'PKNS FLAT JLN KUCHING (TMN SRI DELIMA ) ',
       'PKNS FLAT(JLN RAJA MUDA MUSA) ', 'PKNS JLN SG. BARU ',
       'PKNS KG. KERINCHI ', 'PLAZA DWITASIK ', 'PLAZA GCB ',
       'PLAZA GM ( PLAZA MUTIARA ) ', 'PLAZA MEDAN PUTRA ',
       'PLAZA MENJALARA ', 'PLAZA PRIMA APARTMENT ',
       'PLAZA RAH (KG.BARU) ', 'PPR KG. MUHIBBAH ', 'PPR SALAK SELATAN ',
       'PRIMA DAMANSARA ', 'PRIMA DUTA KONDOMINIUM ', 'PRIMA IMPIAN ',
       'PRIMA MIDAH HEIGHTS ', 'PRIMA PELANGI ', 'PRIMA RIA APARTMENT ',
       'PRIMA TIARA ', 'PRISMA PERDANA APT ', 'PUDU IMPIAN 1 ',
       'PUDU IMPIAN 2 - VILA TROPIKA ', 'PUNCAK BANYAN ',
       'PUNCAK PRIMA-SRI HARTAMAS ', 'PUSAT KEPONG ',
       'PUSAT NIAGA METRO PRIMA ', 'PUTERI APARTMENT ',
       'PUTRA COURT CONDO(STRATA) ', 'PUTRA RIA APT ',
       'RAJA MOHAR SCHEME ', 'RAZAK MANSION ',
       'RESIDENSI MUTIARA KONDOMINIUM ', 'RIANA GREEN EAST KL ',
       'RIVERCITY CONDOMINIUM ', 'ROBSON CONDOMINIUM ', 'ROBSON HEIGHTS ',
       'ROSVILLA CONDOMINIUM ', 'RUMAHPANGSA CHERAS ',
       'SALAK SOUTH GARDEN ', 'SALAK SOUTH LOW COST HOUSING ',
       'SAN PENG FLAT ', 'SANG SURIA KONDOMINIUM ', 'SEASONS TOWER ',
       'SEGAMBUT GARDEN ', 'SEGAR COURT APARTMENT ', 'SEGAR RIA ',
       'SEGAR VIEW CONDO ', 'SELANGOR MANSION ', 'SELAYANG FLAT ',
       'SEMANTAN VILLAS ', 'SENTOSA COURT ', 'SENTUL PARK ',
       'SENTUL PERDANA ', 'SEPUTEH POINT ', 'SEPUTIH PERMAI KONDO ',
       'SERENE COURT ', 'SERENE KIARA ', 'SERI ANGGUN ',
       'SERI BERINGIN (DAMANSARA HEIGHTS) ', 'SERI BULAN ',
       'SERI GEMBIRA APARTMENT ', 'SERI MAS CONDOMINIUM ',
       'SERI RAJA CHULAN ', 'SERI TITIWANGSA CONDOMINIUM ',
       'SEVENTY DAMANSARA ', 'SEVENTY EIGHT LAD ', 'SG PENCHALA ',
       'SHAHZAN COURT ', 'SHAMELIN BISTARI CONDO ', 'SHANGHAI GARDEN ',
       'SIEWDOR GARDEN ', 'SKYLINE GARDEN ', 'SRI BANDAR BESI ',
       'SRI BAYU ', 'SRI BINTANG HEIGHTS ', 'SRI BUKIT PERSEKUTUAN ',
       'SRI BUKIT TUNKU ', 'SRI DESA ', "SRI DESA ENTREPRENEUR'S PARK ",
       'SRI DUTA I & II ', 'SRI EMAS CONDOMINIUM ',
       'SRI IMPIAN CONDOMINIUM ', 'SRI INTAN APT ', 'SRI JINJANG COURT ',
       'SRI KASTURINA ', 'SRI KENNY CONDO ', 'SRI KIA PENG ',
       'SRI LANGIT CONDO ', 'SRI MAHKOTA CONDO ', 'SRI MURNI CONDO ',
       'SRI MUTIARA CONDO ', 'SRI PANTAI DALAM ', 'SRI PENAGA ',
       'SRI PUTRAMAS II ', 'SRI RAKYAT APT ', 'SRI SANCTUARY ',
       'SRI SHAMELIN ', 'SRI WANGSARIA ', 'STONOR PARK CONDO ',
       'SUASANA BANGSAR CONDOMINIUM ', 'SUN COMPLEX ',
       'SUNWAY SPK DAMANSARA ', 'SURIA JELATEK RESIDENCE ',
       'SURIAN WANGI CONDOMINIUM ', 'SUTRAMAS ', 'TAI KWONG MANSION ',
       'TAMAN BUKIT SEGAR ', 'TAMAN BUKIT SERI BINTANG ',
       'TAMAN BUKIT TENAGA ', 'TAMAN DAMAI JAYA SELAYANG ',
       'TAMAN DESA BAKTI ', 'TAMAN LTAT BUKIT JALIL ', 'TAMAN MALURI ',
       'TAMAN MAS ', 'TAMAN MASTIARA ', 'TAMAN MEGAH KEPONG ',
       'TAMAN MEGAH KEPONG(FLAT KOS RENDAH) ', 'TAMAN MIHARJA ',
       'TAMAN NAGA EMAS ', 'TAMAN PASIR PERMATA ', 'TAMAN PRIMA PELANGI ',
       'TAMAN ROWTHER ', 'TAMAN SERI BUKIT SEGAMBUT ',
       'TAMAN SIERRA SEPUTEH ', 'TAMAN SINAR SURIA ',
       'TAMAN TASIK INDAH ', 'TAMAN TUN DR ISMAIL ',
       'TAMAN WILAYAH SELAYANG ', 'TARA KONDOMINIUM ', 'TAYNTON VIEW ',
       'TEPIAN LOKE YEW ', 'THAMBY ABDULLAH ', 'THE ARA ', 'THE AVARE ',
       'THE CAPSQUARE RESIDENCES ', 'THE FORUM ', 'THE LOFT BANGSAR ',
       'THE MAPLE ', 'THE NORTHSHORE GARDENS (DESA PARKCITY) ',
       'THE PALLADIUM ', 'THE PARK RESIDENCE ', 'THE PEARL ',
       'THE PINES CONDO ', 'THE PLAZA (TTDI) ', 'THE RESIDENCE CONDO ',
       'THE SAFFRON ', 'THE SERAI ', 'THE TAMARIND ', 'THE TRELLISES ',
       'THE TROIKA ', 'THE WESTSIDE ONE (DESA PARKCITY) ',
       'TIFFANI KIARA ', 'TIJANI 2 CONDO ', 'TIJANI BUKIT TUNKU ',
       'TIONG NAM FLAT ', 'TITIWANGSA ', 'TIVOLI VILLAS ',
       'TMN ABADI INDAH ', 'TMN AMAN PUTRA ',
       'TMN ANGKASA (JLN PUCHONG) ',
       'TMN ASA (LIHAT TAYTON VIEW SHEET 2) ',
       'TMN BAHAGIA (LUCKY HEIGHTS) ', 'TMN BATU ', 'TMN BATU MUDA ',
       'TMN BATU PERMAI ', 'TMN BAYU SERI BINTANG ',
       'TMN BILIUN (TMN SUFFIAH ROSE) ',
       'TMN BKT ANGKASA (TMN ANGKASAPURI FLAT) ', 'TMN BKT INDAH ',
       'TMN BRINGIN ', 'TMN BUKIT AMAN ', 'TMN BUKIT ANGKASA (PHASE II) ',
       'TMN BUKIT DESA ', 'TMN BUKIT HIJAU ', 'TMN BUKIT INTAN ',
       'TMN BUKIT MALURI ', 'TMN BUKIT RIA ', 'TMN BUKIT SRI CHERAS ',
       'TMN BUKIT TIARA ', 'TMN BULLION MEWAH ', 'TMN CANTIK ',
       'TMN CHERAS (YULEK HEIGHTS) ', 'TMN CHERAS UTAMA ', 'TMN CITY ',
       'TMN CUEPACS ', 'TMN DESA ', 'TMN DESA CHANGKAT ',
       'TMN DESA CHERAS ', 'TMN DESA TASEK ', 'TMN DUTA ', 'TMN EASTERN ',
       'TMN EMAS (R/PANGSA BATU) ', 'TMN EVERGREEN ', 'TMN GEMILANG ',
       'TMN GEMILANG FLAT ', 'TMN GOLDEN ', 'TMN GOODWOOD ',
       'TMN IMPIAN INDAH (PARAGON HEIGHT) ', 'TMN INDAH ',
       'TMN INDAH MURNI ', 'TMN INTAN BAIDURI ', 'TMN JINJANG BARU ',
       'TMN KARAK UTAMA ', 'TMN KAYA ', 'TMN KEAT ANN ',
       'TMN KEPONG INDAH ', 'TMN KOBENA ', 'TMN KOK DOH ',
       'TMN KOK LIAN ', 'TMN KOPERASI POLIS FASA 1 ',
       'TMN KOPERASI POLIS FASA 2 ', 'TMN KUCHAI JAYA ', 'TMN LAWA ',
       'TMN LENSEN ', 'TMN LIAN HOE ', 'TMN MALURI ', 'TMN MAS ',
       'TMN MELEWAR ', 'TMN MIDAH ', 'TMN MIDAH TOWNHOUSE ', 'TMN MULIA ',
       'TMN MULIA INDAH ', 'TMN MUTIARA ', 'TMN NAM FONG ',
       'TMN ORKID DESA ', 'TMN PAGAR RUYUNG ', 'TMN PANTAI DALAM FLAT ',
       'TMN PERTAMA ', 'TMN PUCHONG INDAH ', 'TMN RAINBOW ',
       'TMN RAJAWALI ', 'TMN RAKYAT ', 'TMN SA ', 'TMN SEGAMBUT AMAN ',
       'TMN SEGAMBUT DAMAI ', 'TMN SEGAMBUT INDAH ', 'TMN SEGAMBUT MAJU ',
       'TMN SEGAMBUT MUDA ', 'TMN SEGAR ',
       'TMN SEGAR APT (CHERAS HEIGHTS) ', 'TMN SEJAHTERA ',
       'TMN SEPUTEH ', 'TMN SG BESI (LOW COST FLAT) ',
       'TMN SG BESI (MEDIUM COST FLAT) ', 'TMN SHAMELIN PERKASA ',
       'TMN SPPK SEGAMBUT ', 'TMN SRI BAHTERA (BKT MEWAH & BKT ASA) ',
       'TMN SRI DELIMA (PKNS HOUSING SCHEME) ', 'TMN SRI ENDAH ',
       'TMN SRI HARTAMAS ', 'TMN SRI KEPONG BARU ', 'TMN SRI KUCHING ',
       'TMN SRI MURNI ', 'TMN SRI RAMPAI ', 'TMN SRI SEGAMBUT ',
       'TMN SRI SENTOSA ', 'TMN SRI SINAR ', 'TMN SUET CHOW ',
       'TMN SUPREME ', 'TMN SURIA PUCHONG ', 'TMN TAN YEW LAI ',
       'TMN TASIK DAMAI ', 'TMN TENAGA ', 'TMN TUN DR ISMAIL ',
       'TMN WAHYU ', 'TMN WILAYAH SELAYANG ', 'TMN YARL ',
       'TONG HING MANSION ', 'TONG LEE MANSION ', 'TONG NAM BUILDING ',
       'TOONG FOONG MANSION ', 'TRICOURT (TAMAN SRI SENTOSA ) ',
       'UBN APARTMENT ', 'UNITED GARDEN (TMN LEE YAN LIAN) ',
       'U-THANT RESIDENCE ', 'VANTAGE POINT (TAMAN DESA PETALING) ',
       'VASANA 25 (SEPUTEH) ', 'VERONA TOWN VILLAS ', 'VILLA AMPANG ',
       'VILLA ANGSANA ', 'VILLA BAHAGIA ', 'VILLA BANYAN CONDO ',
       'VILLA FLORA (TTDI FASA 7) ', 'VILLA LAGENDA CONDO ',
       'VILLA LAMAN TASEK ', 'VILLA MAKMUR CONDOMINIUM ',
       'VILLA MAS TOWNHOUSE ', 'VILLA MONT KIARA ', 'VILLA PAWANA ',
       'VILLA PUTERI CONDO ', 'VILLA SAUJANIS ', 'VILLA SCOTT ',
       'VILLA SERI PUTERI ', 'VILLA SETIA ', 'VISTA AMANI ',
       'VISTA KIARA ', 'VISTA MUTIARA ', 'VISTA TASIK KONDO ',
       'VISTANA CONDO ', 'VIVA RESIDENCY ', 'WANGSA MELATI ',
       'WARISAN CITY VIEW APARTMENT ', 'WASHINGTON TOWER (MEADOW PARK) ',
       'WATERFALL TARRACE (TAMAN DESA PETALING) ',
       'WEST COURT (TAMAN SRI SENTOSA) ', 'WICKHAM MANOR ',
       'WINNER COURT (TAMAN DESA PETALING) ',
       'WINNER HEIGHTS (TAMAN DESA PETALING) ', 'WISMA BALPHAK ',
       'WISMA BEE CHAI ', 'WISMA CUEPACS ', 'WISMA ELIATHAMBY ',
       'WISMA HOCK ANN ', 'WISMA KONG LEE ', 'WISMA SHENCOURT ',
       'WISMA STEPHENS ', 'ZEHN BUKIT PANTAI KONDOMINIUM '], dtype=object)

In [8]:
# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if field exist. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        elif isinstance(x, int):
            return str(x)
        else:
            return ''

In [9]:
# Apply clean_data function to your selected columns.
features = ['scheme', 'property-type','bedroom-num', 'price', ]

for feature in features:
    data[feature] = data[feature].apply(clean_data)

In [10]:
data[['scheme', 'property-type','bedroom-num', 'price']].head(5)

                 scheme              property-type bedroom-num    price
0  tamanbukitmanda'rina  2-21/2storeysemi-detached           4  1062800
1          tmnalamdamai  2-21/2storeysemi-detached           4  1493888
2          tmnalamdamai  2-21/2storeysemi-detached           4  1366888
3            tmnfadason       2-21/2storeyterraced           6   480000
4            tmnfadason       2-21/2storeyterraced           5   530000

In [11]:
# Create a new column combination of selected  field
def combineField(x):
    return x['scheme'] + ' ' + x['property-type'] + ' bedroom'+ x['bedroom-num'] + ' price'+ x['price']

In [12]:
# Create a new field feature called 'Desc' for description
data['desc'] = data.apply(combineField, axis=1)
data[['desc']].head()

                                                desc
0  tamanbukitmanda'rina 2-21/2storeysemi-detached...
1  tmnalamdamai 2-21/2storeysemi-detached bedroom...
2  tmnalamdamai 2-21/2storeysemi-detached bedroom...
3  tmnfadason 2-21/2storeyterraced bedroom6 price...
4  tmnfadason 2-21/2storeyterraced bedroom5 price...

# ML Model
Things might get out of hand <br>
From now on, will use a lot of ram depending on data size

In [13]:
# Import CountVectorizer and create the count matrix
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(data['desc'])

In [14]:
count_matrix.shape

(13374, 3666)

In [15]:
# Compute the Cosine Similarity matrix based on the count_matrix
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [16]:
cosine_sim.shape

(13374, 13374)

In [17]:
data.shape

(13374, 17)

In [18]:
data.loc[0]

state                                                    Kuala Lumpur
district                                               Mukim Petaling
floor-num                                                         2.0
type                                                            semid
property-type                               2-21/2storeysemi-detached
transaction-date                                            19/1/2008
lot-size                                                            0
bldg-size                                                           0
report-date                                                  8/7/2011
price                                                         1062800
ppm                                                                 0
address                                    32,JALAN MANDA'RINA DAMAI
scheme                                           tamanbukitmanda'rina
tenure-type                                                   Pajakan
tenure-period                                                    99.0
bedroom-num                                                         4
desc                tamanbukitmanda'rina 2-21/2storeysemi-detached...
Name: 0, dtype: object

In [19]:
# chosen property 
index = 0

sim_scores = list(enumerate(cosine_sim[index]))
sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
sim_scores = sim_scores[1:6]

rec_indices = [i[0] for i in sim_scores]

#
data.iloc[rec_indices]

,state,district,floor-num,type,property-type,transaction-date,lot-size,bldg-size,report-date,price,ppm,address,scheme,tenure-type,tenure-period,bedroom-num,desc
9355,Kuala Lumpur,Mukim Petaling,2.0,semid,2-21/2storeysemi-detached,21/1/2011,405,265,14/2/2011,2150800,8116,"LOT 45678 VILLA 33,JALAN MANDA'RINA DAMAI",tamanbukitmanda'rina,Pajakan,99.0,4,tamanbukitmanda'rina 2-21/2storeysemi-detached...
9356,Kuala Lumpur,Mukim Petaling,2.0,semid,2-21/2storeysemi-detached,28/10/2010,283,265,19/1/2011,1850800,6984,"33,JALAN MANDA'RINA DAMAI",tamanbukitmanda'rina,Pajakan,99.0,4,tamanbukitmanda'rina 2-21/2storeysemi-detached...
9357,Kuala Lumpur,Mukim Petaling,2.0,semid,2-21/2storeysemi-detached,10/11/2010,286,265,14/2/2011,1850800,6984,"LOT 45684 VILLA 33,JALAN MANDA'RINA DAMAI",tamanbukitmanda'rina,Pajakan,99.0,4,tamanbukitmanda'rina 2-21/2storeysemi-detached...
9358,Kuala Lumpur,Mukim Petaling,2.0,semid,2-21/2storeysemi-detached,23/12/2010,287,265,14/2/2011,1850800,6984,"LOT 45683 VILLA 33,JALAN MANDA'RINA DAMAI",tamanbukitmanda'rina,Pajakan,99.0,4,tamanbukitmanda'rina 2-21/2storeysemi-detached...
9359,Kuala Lumpur,Mukim Petaling,2.0,semid,2-21/2storeysemi-detached,23/3/2011,288,265,6/4/2011,1850800,6984,"LOT 45682 VILLA 33,JALAN MANDA'RINA DAMAI",tamanbukitmanda'rina,Pajakan,99.0,4,tamanbukitmanda'rina 2-21/2storeysemi-detached...

In [20]:
index = 0

sim_scores = list(enumerate(cosine_sim[index]))
sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
sim_scores = sim_scores[1:6]

rec_indices = [i[0] for i in sim_scores]

#
data.iloc[rec_indices]

,state,district,floor-num,type,property-type,transaction-date,lot-size,bldg-size,report-date,price,ppm,address,scheme,tenure-type,tenure-period,bedroom-num,desc
9355,Kuala Lumpur,Mukim Petaling,2.0,semid,2-21/2storeysemi-detached,21/1/2011,405,265,14/2/2011,2150800,8116,"LOT 45678 VILLA 33,JALAN MANDA'RINA DAMAI",tamanbukitmanda'rina,Pajakan,99.0,4,tamanbukitmanda'rina 2-21/2storeysemi-detached...
9356,Kuala Lumpur,Mukim Petaling,2.0,semid,2-21/2storeysemi-detached,28/10/2010,283,265,19/1/2011,1850800,6984,"33,JALAN MANDA'RINA DAMAI",tamanbukitmanda'rina,Pajakan,99.0,4,tamanbukitmanda'rina 2-21/2storeysemi-detached...
9357,Kuala Lumpur,Mukim Petaling,2.0,semid,2-21/2storeysemi-detached,10/11/2010,286,265,14/2/2011,1850800,6984,"LOT 45684 VILLA 33,JALAN MANDA'RINA DAMAI",tamanbukitmanda'rina,Pajakan,99.0,4,tamanbukitmanda'rina 2-21/2storeysemi-detached...
9358,Kuala Lumpur,Mukim Petaling,2.0,semid,2-21/2storeysemi-detached,23/12/2010,287,265,14/2/2011,1850800,6984,"LOT 45683 VILLA 33,JALAN MANDA'RINA DAMAI",tamanbukitmanda'rina,Pajakan,99.0,4,tamanbukitmanda'rina 2-21/2storeysemi-detached...
9359,Kuala Lumpur,Mukim Petaling,2.0,semid,2-21/2storeysemi-detached,23/3/2011,288,265,6/4/2011,1850800,6984,"LOT 45682 VILLA 33,JALAN MANDA'RINA DAMAI",tamanbukitmanda'rina,Pajakan,99.0,4,tamanbukitmanda'rina 2-21/2storeysemi-detached...

In [21]:
def get_recommendations(index, n_rec):
    #index = 0

    sim_scores = list(enumerate(cosine_sim[index]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:n_rec+1]

    rec_indices = [i[0] for i in sim_scores]
    
    return data.iloc[rec_indices]

In [22]:
get_recommendations(234,10)

,state,district,floor-num,type,property-type,transaction-date,lot-size,bldg-size,report-date,price,ppm,address,scheme,tenure-type,tenure-period,bedroom-num,desc
53,Kuala Lumpur,Mukim Batu,NaN,condo,condominium/apartment,3/5/2010,0,0,22/6/2011,445000,0,"B-1-2,",10mon'tkiara,Kekal,NaN,3,10mon'tkiara condominium/apartment bedroom3 pr...
235,Kuala Lumpur,Mukim Batu,NaN,condo,condominium/apartment,2/5/2008,102,0,24/6/2011,470000,4608,"B-15-2,JLN KIARA 3",10mon'tkiara,Kekal,NaN,3,10mon'tkiara condominium/apartment bedroom3 pr...
93,Kuala Lumpur,Kuala Lumpur Town Centre,19.0,condo,condominium/apartment,26/4/2004,0,0,30/5/2011,480000,0,"5-14-7,JLN BINJAI OFF JLN AMPANG",menarabinjai,Kekal,NaN,3,menarabinjai condominium/apartment bedroom3 pr...
691,Kuala Lumpur,Kuala Lumpur Town Centre,37.0,condo,condominium/apartment,26/1/2011,115,115,26/7/2011,480000,4174,"20-23-2 (23B),PERSIARAN RAJA CHULAN",angkasaimpian,Pajakan,94.0,3,angkasaimpian condominium/apartment bedroom3 p...
723,Kuala Lumpur,Mukim Batu,35.0,condo,condominium/apartment,24/9/2010,117,117,10/1/2011,480000,4103,"20-15-5(A-15-1),JLN1/70C",angkupuri,Kekal,NaN,3,angkupuri condominium/apartment bedroom3 price...
3179,Kuala Lumpur,Mukim Kuala Lumpur,18.0,condo,condominium/apartment,24/3/2011,104,104,22/4/2011,480000,4615,"24-12-3A(B-12-3A),JLN BUKIT DESA 3",desavillacondo,Kekal,NaN,3,desavillacondo condominium/apartment bedroom3 ...
3515,Kuala Lumpur,Mukim Kuala Lumpur,5.0,condo,condominium/apartment,13/5/2011,154,154,24/6/2011,480000,3117,"26-3,OFF JLN KELANG LAMA",faberria,Kekal,NaN,3,faberria condominium/apartment bedroom3 price4...
3924,Kuala Lumpur,Mukim Batu,15.0,condo,condominium/apartment,25/1/2011,0,109,15/4/2011,480000,4404,"12-2-10,OFF JLN DUTA",hartamasregency,Kekal,NaN,3,hartamasregency condominium/apartment bedroom3...
5244,Kuala Lumpur,Mukim Batu,23.0,condo,condominium/apartment,24/5/2011,161,161,1/7/2011,480000,2981,"1-16-02,JLN KIARA 1/16A",lanaikiara,Kekal,NaN,3,lanaikiara condominium/apartment bedroom3 pric...
5245,Kuala Lumpur,Mukim Batu,23.0,condo,condominium/apartment,13/5/2011,0,148,29/6/2011,480000,3243,"1-13-7,JALAN KIARA 3",lanaikiara,Kekal,NaN,3,lanaikiara condominium/apartment bedroom3 pric...

## Evaluations

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [39]:
X = data
y = data['desc'] 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
similarities = cosine_similarity().fit(X_train, y_train)

In [40]:
y_pred = similarities.predict(X_test)
model_mae = mean_absolute_error(y_test, y_pred)
print(model_mae)

0.76

===========================================================================================================

In [31]:
# Save the file using picle
import pickle

In [32]:
pickle.dump(data,open('property_list.pkl','wb'))
pickle.dump(data,open('raw_property.pkl','wb'))
pickle.dump(cosine_sim,open('similarity.pkl','wb'))